{% extends "base.html" %}
    
{% block content %}
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
<div class="container">
    <h5>Local Goverment Result Checker</h5>
    <p>Choose local Goverment</p>
    {% csrf_token %}
    <select name="lgaselected">
    <option value="0">select</option>
    {%for lga in locals%}
        <option value="{{lga.lga_id}}">{{lga.lga_name}}</option>
    {%endfor%}
    </select>

    <br><br><br>
    <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
    <p>LGA Total Poll Result Page</p>

    <table  class="table table-striped" style="width:100%">
    <tr>
        <th>Party</th>
        <th>Total Score</th>
    </tr>
    {%for part in party%}
    <tr>
        <td>{{part.partyname}}</td>
        <td id='{{part.partyname}}'>none</td>
    </tr>
    {%endfor%}
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
	jQuery(function(){
        $('select').on('change', function() {
            var id=this.value;
            
            {%for part in party%}
                $.ajax({
                type: 'GET',
                data:'', 
                url: "{% url 'home:presult' 1 part.partyname %}".replace('1',id),
                success: function (data) {
                    $.each(data, function(index, value){
                        if (value <= 0){
                            $('#'+'{{part.partyname}}').replaceWith(function() { return"<td id='{{part.partyname}}'>none</td>"});
                        }
                        else{
                            $('#'+'{{part.partyname}}').replaceWith(function() { return"<td id='{{part.partyname}}'>"+value+"</td>"});
                            }
                    });
                }
            });
            {%endfor%}
        });
		
	});
</script>
{% endblock content %}