{% extends "base.html" %}
    
{% block content %}

    <div class="container">
        <div class="row">
        <div class="card-header">
                Polling Units
            </div>
        {% for p in poll%}
        <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{p.polling_unit_name}} -- <a href="{% url 'home:result' p.uniqueid %}">Check Result</a></li>   
            </ul>
            </div>
        </div>
        {%endfor%}
        </div>
    </div>

{% endblock content %}